body{
  font-family: Roboto, Arial, sans-serif;
  transition: all 0.2s;
  height: max-content;
  margin: 0px;
  background-color: rgba(245, 245, 245, 0.9);
}
  body::-webkit-scrollbar{
    display: none;
  }
.main-contents{
  margin-top: 80px;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
}

.disclaimer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  background-color: rgba(0,0,0,0.75);
  color: white;
}