.header{
  font-family: Roboto, Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 65px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1) ;
  transition: all 0.2s;
  z-index: 500;
}
  .left-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    padding: 4px;
    margin-right: 0px;
    height: 60px;
    width: max-content;
    transition: all 0.2s;
  }
    .fb-logo-container{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 50px;
      width: 50px;
      margin-left: 5px;
      margin-right: 10px;
    }
      .fb-logo{
        height: 45px;
        width: 45px;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.2s;
      }
        .fb-logo:hover{
          opacity: 0.7;
        }
        .fb-logo:active{
          opacity: 0.5;
        }
    .fb-search-container{
      position: relative;
      align-items: center;
      justify-content: center;
      padding: 2px;
    }
      .fb-search-icon{
        position: absolute;
        height: 20px;
        opacity: 0.5;
        margin-top: 12px;
        margin-left: 12px;
      }
      .fb-search{
        height: 40px;
        flex: 1;
        border: none;
        background-color: rgba(0,0,0,0.05);
        border-radius: 20px;
        padding-left: 35px;
        font-size: 15px;
        outline: none;
        transition: all 0.2s;
      }
        .fb-search:hover{
          background-color: rgba(0,0,0,0.15);
        }
  .mid-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -20px;
    margin-right: 25px;
    height: 65px ;
    width: fit-content;
  }
    .shortcuts,
    .shortcuts-home{
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 90px;
      margin-left: 17.5px;
      margin-right: 17.5px;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.2s;
    }
    .shortcuts-home{
      height: 45px;
      background-color: rgba(0,0,0,0.05);
    }
      .shortcut-icon,
      .shortcut-icon-home{
        height: 30px;
        width: 30px;
      }
      .shortcut-icon{
        opacity: 0.7;
      }
      .shortcut-selected-bar{
        position: absolute;
        top: 0;
        width: 120px;
        height: 90px;
      }
      .shortcuts:hover{
        background-color: rgba(0,0,0,0.05);
      }
      .shortcuts:active{
        background-color: rgba(0,0,0,0.1);
      }
      .notification-count{
        background-color: rgb(224, 0, 0);
        color: white;
        font-size: 14px;
        padding-top: 3px;
        padding-bottom: 2px;
        padding-left: 7px;
        padding-right: 7px;
        border-radius: 15px;
        position: absolute;
        margin-top: -30px;
        margin-right: -40px;
      }
      .tooltip{
        position: absolute;
        bottom:-40px;
        background-color: rgba(0,0,0,0.5);
        color: white;
        font-size: 12px;
        padding: 7px;
        border-radius: 5px;
        pointer-events: none;
        white-space: nowrap;
        transition: all 0.2s;
        transition-delay: 0.4s;
        opacity: 0;
      }
        .fb-logo-container:hover .tooltip,
        .shortcuts:hover .tooltip,
        .shortcuts-home:hover .tooltip,
        .right-toggles:hover .tooltip{
          transition-delay: 0.5s;
          opacity: 1;
        }
  .right-section{
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-right: 5px;
    height: 65px;
  }
    .current-user{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 37px;
      padding: 3px 10px 3px 3px;
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.2s;
    }
      .current-user:hover{
        background-color: rgba(0,0,0,0.08);
      }
    .current-user-pic{
      width: 35px;
      height: 35px;
      padding-right: 5px;
    }
      .current-user-pic-img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.2s;
      }
    .current-user-name{
      font-size: 18px;
    }
  .right-toggles{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 6px;
    cursor: pointer;
    transition: all 0.2s;
  }
  .right-toggles:hover{
    background-color: rgba(0,0,0,0.2);
  }
    .right-toggles-img{
      width: 60%;
      height: 60%;
    }